[Desktop Entry]
Version=1.0
Type=Application
Name=Linux NitroSense V3
Comment=Monitor & Control Acer Nitro V16
Exec=/usr/bin/nitrosense_v3
Icon=/usr/share/icons/nitro_icon.png
Terminal=false
Categories=Utility;

